body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#videotag {
    display: block;
    max-width: 100%;
    object-fit: contain;
}

#imagetag {
    display: none;
    max-width: 100%;
    object-fit: cover;
}